Italian GP 24 - Date Manipulation

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

leclerc = pd.read_csv('leclerc_car_data_ItalianGP_2024.csv')
leclerc = leclerc.loc[11093:]
leclerc['date'] = pd.to_datetime(leclerc['date'])

In [11]:
leclerc['date']

11093   2024-09-01 13:00:00.180000+00:00
11094   2024-09-01 13:00:00.379000+00:00
11095   2024-09-01 13:00:00.619000+00:00
11096   2024-09-01 13:00:00.819000+00:00
11097   2024-09-01 13:00:00.979000+00:00
                      ...
29195   2024-09-01 14:20:33.395000+00:00
29196   2024-09-01 14:20:33.635000+00:00
29197   2024-09-01 14:20:33.955000+00:00
29198   2024-09-01 14:20:34.156000+00:00
29199   2024-09-01 14:20:34.436000+00:00
Name: date, Length: 18107, dtype: datetime64[ns, UTC]

In [42]:
leclerc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18107 entries, 11093 to 29199
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   brake          18107 non-null  int64
 1   date           18107 non-null  datetime64[ns, UTC]
 2   driver_number  18107 non-null  int64
 3   drs            18107 non-null  int64
 4   meeting_key    18107 non-null  int64
 5   n_gear         18107 non-null  int64
 6   rpm            18107 non-null  int64
 7   session_key    18107 non-null  int64
 8   speed          18107 non-null  int64
 9   throttle       18107 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(9)
memory usage: 1.4 MB

In [36]:
leclerc[(leclerc['date']>='2024-09-01 13:00:00.000000+00:00') & 
        (leclerc['date']<'2024-09-01 13:01:00.000000+00:00')]

,brake,date,driver_number,drs,meeting_key,n_gear,rpm,session_key,speed,throttle
11093,100,2024-09-01 13:00:00.180000+00:00,16,1,1244,1,10546,9590,0,37
11094,100,2024-09-01 13:00:00.379000+00:00,16,1,1244,1,10562,9590,0,37
11095,100,2024-09-01 13:00:00.619000+00:00,16,1,1244,1,10580,9590,0,37
11096,100,2024-09-01 13:00:00.819000+00:00,16,1,1244,1,10573,9590,0,37
11097,100,2024-09-01 13:00:00.979000+00:00,16,1,1244,1,10595,9590,0,37
...,...,...,...,...,...,...,...,...,...,...
11308,0,2024-09-01 13:00:58.940000+00:00,16,1,1244,6,9900,9590,216,100
11309,0,2024-09-01 13:00:59.260000+00:00,16,1,1244,6,10373,9590,223,5
11310,100,2024-09-01 13:00:59.540000+00:00,16,1,1244,6,9310,9590,205,0
11311,100,2024-09-01 13:00:59.700000+00:00,16,1,1244,6,9737,9590,205,0
11312,100,2024-09-01 13:00:59.980000+00:00,16,1,1244,5,9334,9590,191,0

In [43]:
leclerc[(leclerc['date']>='2024-09-01 13:01:00.000000+00:00') & 
        (leclerc['date']<'2024-09-01 13:02:00.000000+00:00')]

,brake,date,driver_number,drs,meeting_key,n_gear,rpm,session_key,speed,throttle
11313,100,2024-09-01 13:01:00.140000+00:00,16,1,1244,5,8960,9590,173,0
11314,100,2024-09-01 13:01:00.500000+00:00,16,1,1244,4,9543,9590,155,0
11315,100,2024-09-01 13:01:00.700000+00:00,16,1,1244,4,9286,9590,151,0
11316,100,2024-09-01 13:01:00.899000+00:00,16,1,1244,4,9160,9590,148,0
11317,100,2024-09-01 13:01:01.179000+00:00,16,1,1244,4,8991,9590,144,0
...,...,...,...,...,...,...,...,...,...,...
11535,0,2024-09-01 13:01:59.060000+00:00,16,1,1244,1,4712,9590,41,0
11536,0,2024-09-01 13:01:59.220000+00:00,16,1,1244,1,5057,9590,41,0
11537,0,2024-09-01 13:01:59.460000+00:00,16,1,1244,1,4457,9590,40,0
11538,0,2024-09-01 13:01:59.620000+00:00,16,1,1244,1,4299,9590,40,0
11539,0,2024-09-01 13:01:59.860000+00:00,16,1,1244,1,4027,9590,37,0

In [47]:
min1 = leclerc[(leclerc['date']>='2024-09-01 13:00:00.000000+00:00') & 
        (leclerc['date']<'2024-09-01 13:01:00.000000+00:00')]
min2 = leclerc[(leclerc['date']>='2024-09-01 13:01:00.000000+00:00') & 
        (leclerc['date']<'2024-09-01 13:02:00.000000+00:00')]

In [49]:
print(min1['speed'].mean())
print(min2['speed'].mean())

151.9227272727273
165.2907488986784

In [50]:
leclerc.tail()

,brake,date,driver_number,drs,meeting_key,n_gear,rpm,session_key,speed,throttle
29195,0,2024-09-01 14:20:33.395000+00:00,16,0,1244,4,7263,9590,115,0
29196,0,2024-09-01 14:20:33.635000+00:00,16,0,1244,4,7016,9590,113,0
29197,0,2024-09-01 14:20:33.955000+00:00,16,0,1244,4,6888,9590,111,0
29198,0,2024-09-01 14:20:34.156000+00:00,16,0,1244,4,6878,9590,110,3
29199,0,2024-09-01 14:20:34.436000+00:00,16,0,1244,4,6813,9590,109,8